@model BusinessDetailsAbstract


<div class="row bg-light border mb-3">
    <div class=" col-4 border-right mt-3 mb-3">
        <img class="d-block w-100 border" src="@Model.ImageUrl" alt="@Model.BusinessName" />
    </div>
    <div class="col-8 mt-3 mb-3">
        <div>
            <label class="font-weight-bolder" asp-for="BusinessName"></label>
            @Html.DisplayFor(m => m.BusinessName)
        </div>
        <div>
            <label class="font-weight-bolder" asp-for="Address"></label>
            @Html.DisplayFor(m => m.Address)
        </div>
        <div>
            <label class="font-weight-bolder" asp-for="PhoneNumber"></label>
            @Html.DisplayFor(m => m.PhoneNumber)
        </div>
        <div>
            <label class="font-weight-bolder" asp-for="SupportedLocation"></label>
            @Html.DisplayFor(m => m.SupportedLocation)
        </div>
        <div>
            <label class="font-weight-bolder" asp-for="Description"></label>
            @Html.DisplayFor(m => m.Description)
        </div>
        <a asp-controller="Business" asp-action="Edit" class="btn btn-warning">Edit</a>
    </div>
</div>