@model ServiceInfoViewModel

<h2 class="heading-margin text-center">@Model.Name</h2>
<hr />
<div class="row bg-light border mb-3">
    <div class=" col-4 border-right mt-3 mb-3">
        <img class="d-block w-100 border" src="@Model.ImageUrl" alt="@Model.Name" />
        <label class="font-weight-bolder mt-3 mb-3" asp-for="OperatorName"></label>
        @Html.DisplayFor(m => m.OperatorName)
    </div>
    <div class="col-8 mt-3 mb-3">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="md-form md-outline input-with-post-icon datepicker">
                    <label class="font-weight-bolder mt-3 mb-3">Choose a date: </label>
                    <input class="d-none" id="booking" asp-for="Id" name="serviceId" value="@Model.Id" />
                    <input placeholder="Select date" type="date" id="date" class="form-control">
                </div>
                <label class="font-weight-bolder mt-3 mb-3">Daily Schedule:</label>
                <div class="schedule d-none" id="hours">

                </div>
                <div class="form-group text-center m-3">
                    <button class="btn btn-primary d-none" id="Chek_button">Check!</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/booking/booking.js"></script>
    <script>
        $('.datepicker').datepicker({
            disable: [
                { from: [2021, 7, 14], to: [2021, 7, 31] }
            ]
        })
    </script>
}
