@model IEnumerable<MyOfferedServiceViewModel>

@{
    ViewBag.Title = "My Services";
}


<div class="bg-light">
    @if (!Model.Any())
    {
        <h2 class="text-center">No Services found! <a asp-controller="OfferedServices" asp-action="Add">Create</a> your first service</h2>
    }
    else
    {
        <h2 class="heading-margin text-center">@ViewBag.Title</h2>
    }

    <div class="row">
        @foreach (var service in Model)
        {
            <div class="col-md-4 d-flex align-items-stretch mt-3 mb-3">
                <div class="card justify-content-center p-5">
                    <div class="embed-responsive embed-responsive-16by9">
                        <img class="card-img-top embed-responsive-item" src="@service.ImageUrl" alt="@service.Name @service.Price (@service.Category)">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-center">@service.Name @service.Price (@service.Category)</h5>
                        <a asp-controller="OfferedService" asp-action="Details" asp-route-id="@service.Id" class="btn btn-primary">View More</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

