@model IEnumerable<GetOfferedServiceViewModel>

@{ 
    ViewData["Title"] = "Services";
}

<h4 class="heading-margin text-center">@ViewData["Title"]</h4>
<div class="row">    
    @foreach (var service in Model)
    {
        <div class="col-md-4 d-flex align-items-stretch mt-3 mb-3">
            <div class="card justify-content-center p-5">
                <div class="embed-responsive embed-responsive-16by9">
                    <img class="card-img-top embed-responsive-item" src="@service.ImageUrl" alt="@service.Name @service.Price (@service.Category)">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@service.Name @service.Price € (@service.Category)</h5>
                    <a asp-controller="OfferedService" asp-action="Details" asp-route-id="@service.Id" class="btn btn-primary">Details</a>
                    @if (this.User.GetId() == service.UserId)
                    {
                        <a asp-controller="OfferedService" asp-action="Edit" asp-route-id="@service.Id" class="btn btn-warning">Edit</a>
                        <a asp-controller="OfferedService" asp-action="Delete" asp-route-id="@service.Id" class="btn btn-danger">Delete</a>
                    }
                    else
                    {
                        <a asp-controller="" asp-action="" asp-route-id="@service.Id" class="btn btn-success">Book!</a>
                    }
                </div>
            </div>
        </div>
    }
</div>
