@model BookingsByDayViewModel

@{
    var daysPerPage = PaginationConstants.MY_BOOKINGS_DAYS_PER_PAGE;
    var modalIndex = 0;
}

<div class="row mb-3 schedule">
    @for (int i = 0; i < daysPerPage; i++)
    {
        <div class="col-md-2 border border-info rounded mt-3 text-center bg-light">
            <div class="border-bottom mb-3">
                <span class="btn btn-info mb-2 mt-3">@Model.Date.AddDays(i).ToString("ddd dd-MMM-yyyy", CultureInfo.InvariantCulture)</span>
            </div>
            <div>
                @foreach (var booking in Model.Bookings)
                {
                    @if (booking.Date.Date == Model.Date.AddDays(i).Date)
                    {
                        <button class="btn btn-success mb-2 hour" data-toggle="modal" data-target="#exampleModalCenter-@modalIndex" type="button">
                            @booking.Date.ToLongTimeString()
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi-info-circle-fill" viewBox="0 0 16 16">
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                            </svg>
                        </button>
                        <div class="modal fade" id="exampleModalCenter-@modalIndex" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle-@(modalIndex++)" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-info ">
                                        <h5 class="modal-title" id="exampleModalLongTitle">You have booking for <strong>@booking.BookedService</strong> service</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <label asp-for="Bookings.First().BusinessName" class="font-weight-bolder mr-1 ml-3"></label>
                                            <div>@booking.BusinessName</div>
                                        </div>
                                        <div class="row">
                                            <label asp-for="Bookings.First().BusinessPhone" class="font-weight-bolder mr-1 ml-3"></label>
                                            <div>@booking.BusinessPhone</div>
                                        </div>
                                        <div class="row">
                                            @{
                                                var dateFormated = booking.Date.ToString("dddd, dd-MMM-yyyy", CultureInfo.InvariantCulture);
                                                var hourPrefix = ", starting at: ";
                                                var hourFormat = booking.Date.ToString("HH:mm", CultureInfo.InvariantCulture);
                                            }
                                            <label asp-for="Bookings.First().Date" class="font-weight-bolder mr-1 ml-3"></label>
                                            <text>@dateFormated@hourPrefix <strong>@hourFormat</strong></text>
                                        </div>
                                        <div class="row">
                                            <label asp-for="Bookings.First().Duration" class="font-weight-bolder mr-1 ml-3"></label>
                                            <div>@booking.Duration mins</div>
                                        </div>
                                        <div class="row">
                                            <label asp-for="Bookings.First().Notes" class="font-weight-bolder mr-1 ml-3"></label>
                                            <div>@booking.Notes</div>
                                        </div>
                                    </div>
                                    <div class="modal-footer bg-light">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    }
</div>





