@model IEnumerable<BookingHistoryViewModel>

@{
    ViewBag.Title = "Your bookings history:";
    var rowNumber = 1;
}

<div class="border-bottom">
    <h3>@ViewBag.Title</h3>
</div>

@if (Model.Any())
{
    <table class="table table-hover bg-light mt-3">
        <thead class="bg-info">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Business Name</th>
                <th scope="col">Booked Service</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model)
            {
                <tr>
                    <th scope="row">@(rowNumber++)</th>
                    <td>@record.Date</td>
                    <td><a asp-area="" asp-controller="Category" asp-action="Details" asp-route-id="@record.BusinessId">@record.BusinessName</a></td>
                    <td>@record.BookedService</td>
                </tr>
            }
        </tbody>
    </table>
}